@blue: #cfe0ff;
@yellow: #fffd70;
@red: #ffb5b5;
@purple: #e8d0ff;
@green: #c1ffa9;
@pink: #ffc2e4;

.pdf-reader_backgroundLight {
    position: absolute;

    // z-index: 5;
    background-color: var(--rect-color);
    // background-color: @yellow;
    mix-blend-mode: multiply;
}


.UniteBoxBorder {
    position: absolute;
    background-color: transparent;
    z-index: 8000;

}

.uniteUnClicked {
    pointer-events: none;
}

//#74c0fc
.uniteClicked {
    border: 2px solid #339af0;
    border-radius: 2px;

    &:hover {
        cursor: pointer;
    }
}

.closebutton {
    z-index: 8000;
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1),
}


.pdf-reader__overlay-bounding-box {
    position: absolute;
    z-index: @z-index-bounding-box-overlay;
}

.pdf-reader__overlay-bounding-box-highlighted {
    position: absolute;
    // background-color: @initial-blue;
    background-color: rgb(0, 0, 0);
    mix-blend-mode: screen;

    &:hover {
        cursor: pointer;
    }

    &:hover,
    &.selected {
        background-color: rgb(88, 88, 88);
        mix-blend-mode: screen;
    }

}


::selection {
    background-color: #cfe0ff;
    color: #000000;
}